@model DAENT_FRONTEND.Models.artgr

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>artgr</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.artgruppe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artgruppe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artikelname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artikelname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aktuell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aktuell)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.artnr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
