@model DAENT_FRONTEND.Models.artikelgruppen

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>artikelgruppen</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.artgr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.artgr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.artgr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.grtext, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.grtext, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.grtext, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div cartikelslass="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var input = document.getElementById("artgr");
   // var input = document.getElementById("artext");
    var button = document.getElementById("submitBtn");
    input.onkeyup = function () {
        if (input.value.length != 2) {
            button.disabled = true;
        } else {
            button.disabled = false;
        }
    };
</script>